.App {
  text-align: center;
}

.listTask{
  background-color: burlywood;
  border: solid;
  width: 1000px;
  height: 500px;
  margin: auto;
}

.taskBg{
  background-color: rgb(39, 36, 32);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  color: aliceblue;

}



.taskBg div{
  display: flex;
  align-items: center;
}

.taskNumber{
  color:burlywood;
  border: 1px solid burlywood;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}


.iconsWrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;

}

.taskBg .iconsWrap span{
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: burlywood;
}

.taskBg .iconsWrap span:hover {
  color: rgb(51, 30, 3)
}

.form-add{
  
   background-color: black;
   color: white;
   width: 100%;
   height: 130%;
   border-radius: 5px;
}

.buttons{
  background-color: rgb(165, 134, 92);
  min-width: 100px;
}